<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>阿本-后台管理</title>
		<link rel="shortcut icon" href="_IMG_/my/favicon.ico">
		<link rel="stylesheet" href="/think_blog/public/static/layui/css/layui.css">
		<script src="__JS__/jquery-3.2.1.js" type="text/javascript" charset="utf-8"></script>	
		<!--<script src="/think_blog/public/static/layui/layui.js"></script>-->
		<!--<script src="/think_blog/public/static/layui/layui.all.js"></script>-->
		<script>//一般直接写在一个js文件中
//			;!function(){
//				  var layer = layui.layer
//				  ,form = layui.form;
//				  
//				  layer.msg('Hello World');
//				}();

//        $(document).ready(function(){
//				  var layer = layui.layer
//				  ,form = layui.form;
//				  
//				  layer.msg('Hello World');   
//
//        });
		</script>
		<script>
			$(document).ready(function(){
							
			})
						
			//删除标签
			function deleteTag(obj){
				var that = obj;
				$(that).parent().remove();
			}
		</script>
		<style type="text/css">
			.layui-self-a{}
			.layui-self-body{ 
			    background-color: #f2f2f2;
			    /*padding: 20px;*/
			}
			.layadmin-header{ 
				height: 50px;
			    line-height: 50px;
			    margin-bottom: 0;
			    border-radius: 0;
			    padding-left: 20px;
			    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
			 }
			    
			.layui-body-bowen{
			    width: 100%-20px;
			    /*height: 100%;*/
			    min-height: 500px;
			    background-color: white; 
			    margin: 20px;
			    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);   
			    }
			.layui-self-search {
			    display: inline-block;
			    vertical-align: middle;
			    height: 32px;
			    border-top: none;
			    border-right: none;
			    border-left: none;
			    cursor: text;
			}
			.layui-self-btn{
				height: 34px;
			    line-height: 34px;
			    padding: 0 16px;
			    border-radius: 4px;
			}
			          
            .bw_iframe{
            	width: 100%;
			    height: 900px;
			    min-height: 500px;
			    border: none;
            }
            #bw_list i{
            	display: none !important;
            }
		</style> 
	</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo ">阿本后台管理</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="javascript:;">控制台</a></li>
      <li class="layui-nav-item layui-hide-xs" lay-unselect="">
        <a href="javascript:;" target="_blank" title="前台">
          <i class="layui-icon layui-icon-website"></i>
        </a>
      </li>
      <li class="layui-nav-item" lay-unselect="">
        <a href="javascript:;" layadmin-event="refresh" title="刷新">
          <i class="layui-icon layui-icon-refresh-3"></i>
        </a>
      </li>
    </ul>
    
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item layui-hide-xs" lay-unselect="">
        <a href="javascript:;" layadmin-event="fullscreen">
          <i class="layui-icon layui-icon-screen-full"></i>
        </a>
      </li>
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
          阿本
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="">退出</a></li>
    </ul>
  </div>
    <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
       <!--左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
      	<li class="layui-nav-item">
          <a class="" href="javascript:;"><i class="layui-icon layui-icon-home">&nbsp;&nbsp;主页</i></a> 
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">控制台</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;"><i class="layui-icon layui-icon-read">&nbsp;&nbsp;博文管理</i></a>
          <dl class="layui-nav-child">
            <dd><a onclick="changeBWtab(11)">博文列表</a></dd>
            <dd><a onclick="changeBWtab('add')">添加博文</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item layui-nav-item">
          <a class="" href="javascript:;"><i class="layui-icon layui-icon-template-1">&nbsp;&nbsp;前端效果管理</i></a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">作品列表</a></dd>
            <dd><a href="javascript:;">添加作品</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item layui-nav-item">
          <a class="" href="javascript:;"><i class="layui-icon layui-icon-tabs">&nbsp;&nbsp;碎碎念管理</i></a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">碎碎念列表</a></dd>
            <dd><a href="javascript:;">添加碎碎念</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item layui-nav-item">
          <a class="" href="javascript:;"><i class="layui-icon layui-icon-speaker">&nbsp;&nbsp;留言板管理</i></a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">留言板列表</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item layui-nav-item">
          <a class="" href="javascript:;"><i class="layui-icon layui-icon-picture-fine">&nbsp;&nbsp;相册管理</i></a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">相册列表</a></dd>
            <dd><a href="javascript:;">添加相册</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item layui-nav-item">
          <a class="" href="javascript:;"><i class="layui-icon layui-icon-file">&nbsp;&nbsp;文件管理</i></a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">文件列表</a></dd>
            <dd><a href="javascript:;">添加文件</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item layui-nav-item">
          <a class="" href="javascript:;"><i class="layui-icon layui-icon-group">&nbsp;&nbsp;用户管理</i></a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">用户列表</a></dd>
            <dd><a href="javascript:;">添加用户</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item layui-nav-item">
          <a class="" href="javascript:;"><i class="layui-icon layui-icon-set-fill">&nbsp;&nbsp;系统设置</i></a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">网站设置</a></dd>
            <dd><a href="javascript:;">邮件设置</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item"><a href=""><i class="layui-icon layui-icon-friends">&nbsp;&nbsp;关于我</i></a></li>    
      </ul>
    </div>
  </div>
  <div class="layui-body layui-self-body">
    <!-- 内容主体区域 -->
    <div class="layui-card layadmin-header">
	  <div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
	    <a><cite>主页</cite></a><span lay-separator="">/</span>
	    <a><cite>博文管理</cite></a><span lay-separator="">/</span>
	    <a><cite>博文列表</cite></a>
	  </div>
	</div>
	<div class="layui-body-bowen" id="">
		<div class="layui-tab" lay-filter="tab_bowen" lay-allowclose="true">
			<ul class="layui-tab-title">
				<li lay-id="11" id="bw_list" class="layui-this">博文列表</li>
				<!--<li lay-id="22" >添加博文</li>-->
				<!--<li lay-id="33">编辑博文</li>-->
			</ul>
			<div class="layui-tab-content">
				<div class="layui-tab-item layui-show">
					<div class="layui-card">
					  <div class="layui-card-header">
					  	<a href="javascript:;" id="bw_refresh" layadmin-event="refresh" title="刷新" style="position: absolute;
    top: -2px; z-index: 1;">
				          <i class="layui-icon layui-icon-refresh-3"></i>
				        </a>
						<form class="layui-form" action="">
							<div class="layui-form-item">
								<label class="layui-form-label">全部分类:</label>
								<div class="layui-inline">
								  	<select id="search_bw_type" lay-filter="search_bw_type" name="bowen-type" lay-verify="">
									  <option value="">全部</option>
									  <option value="android">android</option>
									  <option value="数据库">数据库</option>
									  <option value="后台">后台</option>
									  <option value="前端">前端</option>
								      <option value="移动开发">移动开发</option>
								      <option value="互联网">互联网</option>
									</select>
									<input type="hidden" name="hid_select_bw_type" id="hid_select_bw_type" value="" />
								</div>
								<div class="layui-inline">
							      <label class="layui-form-label">创建日期</label>
							      <div class="layui-input-inline">
							        <input type="text" class="layui-input" id="bowen_date" placeholder=" - ">
							        <input type="hidden" id="search_bw_starttime" value="" />
							        <input type="hidden" id="search_bw_endtime" value="" />
							      </div>
							    </div>
							    <div class="layui-inline">
							      <input type="text" id="search_bw_title" placeholder="搜索标题..." autocomplete="off" class="layui-input layui-input-search layui-self-search" layadmin-event="serach" lay-action="">
							    </div>
							    <div class="layui-inline">
						          <!--<button class="layui-btn layui-self-btn" id="search_bw_btn">
						            <i class="layui-icon layui-icon-search"></i>
						          </button>-->
						          <input type="button" class="layui-btn layui-self-btn" name="search_bw_btn" id="search_bw_btn" value="搜索" />
						        </div>
							</div>
					    </form>
					  </div>
					  <div class="layui-card-body">
					     <table class="layui-hide" id="bw_table" lay-filter="lay_bw_table"></table>
					     <script type="text/html" id="bw_barDemo">
						  <!--<a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>-->
						  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
						  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
						 </script>
					  </div>
					</div>
				</div>
				<!--<div class="layui-tab-item ">
					<iframe src="add_bw.html" class="bw_iframe"></iframe>					
				</div>-->
				<!--<div class="layui-tab-item ">
					<iframe src="add_bw.html" class="bw_iframe"></iframe>
				</div>-->
			</div>
		</div>
	</div>
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © layui.com - 底部固定区域
  </div>

</div>
<script type="text/javascript" src="__JS__/jquery-3.2.1.js" ></script>
<script src="/think_blog/public/static/layui/layui.js"></script>
<script src="__JS__/wangEditor.min.js"></script>
<script>            
	layui.use(['element','form','laydate','layer','table'], function() {
		var $ = layui.jquery,
		 form = layui.form,
		 laydate = layui.laydate,
		 layer = layui.layer,
		 element = layui.element,
		 table = layui.table;
	    
	    //设置博文列表表格
	    var bw_table = table.render({
				elem: '#bw_table'
				,url:'/think_blog/public/admin/action/queryAllBowen'				
				//,toolbar: '#toolbarDemo'
				,title: '博文列表'
				//,page: true //开启分页
				 ,page: { 
					      //layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
					      curr: 1,//设置当前页，这里是curr需要我们提前设置好 curr=1, 否则page一开始返回的是true,而不是一个对象
					      //,groups: 1 //只显示 1 个连续页码
					      //,first: false //不显示首页
					      //,last: false //不显示尾页					      
					   }
				,cols: [[					     
					      {field:'article_id', title:'ID', width:80, fixed: 'left', sort: true}
					      ,{field:'article_title', title:'博文标题', width:180}
					      ,{field:'article_type1', title:'博文类型', width:100}
					      ,{field:'article_type2', title:'博文分类', width:100}
					      ,{field:'article_status', title:'博文状态', width:100}
					      ,{field:'article_create_time', title:'创建时间', width:120, sort: true}
					      ,{field:'article_public_time', title:'发布时间', width:120, sort: true}
					      ,{field:'article_click', title:'点击量', width:100, sort: true}
					      ,{ title:'操作', toolbar: '#bw_barDemo'}
			    ]]
				  
				  //若想只访问一次后台，将所有的数据取回前端，再进行分页，需要配置parseData,如下:其实不只一次访问后台，而是当点击下一页或者刷新时，都要访问一次后台，每次都是取所有的数据，然后在前端再根据 limit 和  当前页page.curr  来设置显示所需要的数据
//			      ,parseData: function(res){ //res 即为原始返回的数据
//			      	       //console.log(array_bwList);
//			      	       console.log(this);
//			      	       console.log('limint:'+ this.limit); //每页的记录数量
//			      	       console.log('page.curr:'+ this.page.curr); //当前页
//			      	      var bw_result = res.data.slice(this.limit*(this.page.curr-1),this.limit*this.page.curr);  
//			      	      //slice(start,end) 方法可从已有的数组中返回选定的元素。从下标为‘start’的值开始取，取到下标为‘end’的前一个值，不包含下标为‘end’的值。
//			      	      //this.page.curr : 这里是curr需要我们提前设置好 curr=1, 否则page一开始返回的是true,而不是一个对象
//					      return {
//					        "code": res.code, //解析接口状态
//					        "msg": res.msg, //解析提示文本
//					        "count": res.count, //解析数据长度
//					        "data": bw_result //解析数据列表
//					      };
//					  }
			 });
			 
		//监听行工具事件
		  table.on('tool(lay_bw_table)', function(obj){  //article_id
		    var data = obj.data;
		    //debugger;
		    //console.log(obj)
		    if(obj.event === 'del'){  //点击‘删除’按钮
			      layer.confirm('真的删除行么', function(index){
			        obj.del();
			        $.ajax({
							url: '/think_blog/public/admin/Action/deleteBowen',
							//提交类型
							type: 'POST',
							//提交数据给后台
							data: {'article_id':data.article_id},
							//返回的数据类型
							dataType: 'json',
							//成功是调用的方法
							success: function(data) {
								if(data){
									layer.close(index);
								}
							}
						});		        
			      });
		    } else if(obj.event === 'edit'){ //点击‘编辑’按钮

               var edit_bw_tabs = $(".edit_bw_iframe").length;	
				   var edit_bw_id = data.article_id;
				   var edit_html = "<iframe src='add_bw.html?edit_article_id="+ edit_bw_id +"' class='bw_iframe edit_bw_iframe'></iframe>"
				   if(edit_bw_tabs < 3){				   	   
						element.tabAdd('tab_bowen', {
							  title: '编辑博文'
							  ,content: edit_html //支持传入html
							  ,id: 'edit_'+ data.article_id
						});	
						element.tabChange('tab_bowen', 'edit_'+ data.article_id);			   	
				   }else{
				   	   layer.msg('编辑tab不能超过3个', {
							time: 1000,
							anim: 6,
						});				   	
				   }
		    }
		  });
		  
		//点击博文刷新按钮：  博文表格重载  bw_table
		 $("#bw_refresh").on('click',function(){
			 bw_table.reload({
				  where: { //设定异步数据接口的额外参数，任意设
				    'sea_way':0
				  },
				  page: {
				    curr: 1 //重新从第 1 页开始
				  }
				});		 	 	
		 });

        form.on("select(search_bw_type)", function(data) {
					$("#hid_select_bw_type").val(data.value);
				});
        //点击 博文页面的“搜索按钮”
        $("#search_bw_btn").on('click',function(){
        	var sea_way = '1';  //传值给后台，方便给后台判断是否是条件查询博文列表
        	var sea_bw_type = $("#hid_select_bw_type").val();
        	var search_bw_title = $("#search_bw_title").val();
        	var search_bw_starttime = $("#search_bw_starttime").val();
        	var search_bw_endtime = $("#search_bw_endtime").val();        	
        	//debugger;
        	bw_table.reload({
   				  where: { //设定异步数据接口的额外参数，任意设
   				  	'sea_way':sea_way
				    ,'sea_bw_type': sea_bw_type
				    ,'search_bw_title': search_bw_title
				    ,'search_bw_starttime': search_bw_starttime
				    ,'search_bw_endtime':search_bw_endtime
				    //…
				  },
				  page: {
				    curr: 1 //重新从第 1 页开始
				  }       		
        	});
        });
	    
	    //日期范围
		  laydate.render({
		    elem: '#bowen_date'
		    ,range: true
		    ,done: function(value, date, endDate){
		    	//var nowDate = new Date("2017-08-18 23:59:59"); //23:59:59
		    	//console.log(nowDate);		    	
		    	var startTime = new Date(date.year + '-' + date.month + '-' + date.date + ' 00:00:00');
		    	var endTime = new Date(endDate.year + '-' + endDate.month + '-' + endDate.date + ' 23:59:59')		    
		    	$("#search_bw_starttime").val(startTime.getTime()/1000);
		    	$("#search_bw_endtime").val(endTime.getTime()/1000);
//			    console.log(value); //得到日期生成的值，如：2017-08-18
			    //console.log(startTime); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
			    //console.log(endTime); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
			  }
		  });	  
	});  //layui.use
	
	function changeBWtab(tabBW_id){		
        layui.use(['element','layer'],function(){      	
        	var $ = layui.jquery,
        	element = layui.element,
        	layer = layui.layer; //Tab的切换功能，切换事件监听等，需要依赖element模块
        	//切换到指定Tab项
			//  element.tabChange('tab_bowen', tabBW_id); //			
			//添加tab
			if(tabBW_id == 'add'){				
				   var add_bw_tabs = $(".add_bw_iframe").length;
				   //debugger;
				   if(add_bw_tabs < 3){
				   	   var now_time = new Date;
					   var add_id = 'add_' + now_time.getTime();
						element.tabAdd('tab_bowen', {
							  title: '添加博文'
							  ,content: '<iframe src="add_bw.html" class="bw_iframe add_bw_iframe"></iframe>' //支持传入html
							  ,id: add_id
						});	
						element.tabChange('tab_bowen', add_id);			   	
				   }else{
				   	   layer.msg('新增tab不能超过3个', {
							time: 1000,
							anim: 6,
						});				   	
				   }
				   
			 }else{
			 	element.tabChange('tab_bowen', tabBW_id); //	
			 }

        });//layui.use
	}
					
</script>

</body>
</html>
