<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/think_blog/public/static/layui/css/layui.css">
		<script src="__JS__/jquery-3.2.1.js" type="text/javascript" charset="utf-8"></script>	
		<!--<script src="/think_blog/public/static/layui/layui.js"></script>-->
		<script src="/think_blog/public/static/layui/layui.all.js"></script>
		<script>
			//一般直接写在一个js文件中
//			;!function(){
//				  var layer = layui.layer
//				  ,form = layui.form;
//				  
//				  layer.msg('Hello World');
//				}();

//        $(document).ready(function(){
//				  var layer = layui.layer
//				  ,form = layui.form;
//				  
//				  layer.msg('Hello World');       	
//        });
		</script>
	</head>
	<body>
		这个是后台管理
		
		<script>
			//一般直接写在一个js文件中
//			layui.use(['layer', 'form'], function(){
//			  var layer = layui.layer
//			  ,form = layui.form;
//			  
//			  layer.msg('Hello World');
//			});
		</script> 
	</body>
</html>
